@model IEnumerable<Northwind.Data.Logic.Data.Northwind.Entity.Products>

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-title">Lista de Produtos</h1>

<p>
    <a class="glow-on-hover" asp-action="Create">Novo Produto</a>

</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discontinued)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                </td>
                <td>

                    <a class="to-edit circle-button my-tooltip" title="editar" asp-action="edit" asp-route-id="@item.ProductID"><i class="fa-sharp fa-solid fa-pencil"></i></a>

                    <a class="to-details circle-button my-tooltip" title="detalhes" asp-action="details" asp-route-id="@item.ProductID"><i class="fa-sharp fa-solid fa-info"></i></a>

                    <a class="to-delete circle-button my-tooltip" title="deletar" asp-action="delete" asp-route-id="@item.ProductID"><i class="fa-sharp fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
